<%= form_with(model: epick) do |form| %>
  <% if epick.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% epick.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
