<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Organizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" style="padding-top: 17%">
        <%= yield %>
    </div>
  </body>
</html>
